.recipeGallery{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.itemContainer{
    list-style: none;
    margin: 25px;
    padding: 0;
    box-shadow: 5px 10px 15px grey;
    h2{
        padding: 5px;
    }
    a{
        text-decoration: none; 
        color: $secondaryColor;
    }
    img{
        opacity: 0.85;
        padding: 5px;

        &:hover,
        &focus{
            opacity: 1;
        }
    }

    &:hover,
    &:focus{
        box-shadow:5px 10px 15px $secondaryColor ;
    }



}
