h1{
    font-family: monospace, monospace;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 6rem;
}


h2,
h3,
p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
}

h2,
h3{
    font-size: 1.5rem;
    text-align: center;
}

p{
    font-size: 1.3rem;
}